@{
    ViewData["Title"] = "WatchList";
}


        <form class="formulario d-flex flex-column" autocomplete="off">
            <div class="h3 text-center text-white">Login</div>
            <div class="d-flex align-items-center input-field my-3 mb-4">
                <span class="far fa-user p-2"></span>
                <input id="usuario" type="text" placeholder="Nombre de usuario" name="usuario" required />
            </div>
            <div class="d-flex align-items-center input-field mb-4">
                <span class="fas fa-lock p-2"></span>
                <input id="password" type="password" placeholder="Contraseña" name="password" required />
            </div>
        <input id="submit" class="btn btn-outline-light" type="button" name="enviar" value="Entrar" />
            <p id="ErrorValidacionUsuarioYPass" hidden>El usuario no es válido</p>
        </form>




<script>
    
    $("#submit").click(function () {
        let usuario = $("#usuario").val();
        let password = $("#password").val()

        if(usuario != ""  && password != "") 
        {
            $.ajax({
                type: "POST",
                url: "/login/UsuarioValido",
                data: {
                    Usuario: usuario, Password: password
                },
                    success: function (esUsuarioValido) { 
                    if(esUsuarioValido){
                        //Llamo a funcion que devuelva la vista
                        $("#ErrorValidacionUsuarioYPass").prop('hidden', true)
                        CargaVistaIndiceDatos(usuario, password);
                    }
                    else{
                        $("#ErrorValidacionUsuarioYPass").prop('hidden', false)
                    }                    
                },                
            })
        }

    })

    function CargaVistaIndiceDatos(usuario, password) {
        $.ajax({
            type: "POST",
            url: "/Home/VistaDatos",
            data: {
                Usuario: usuario, Password: password
            },
            success: function (html) {
                
                $("#Contenedor").html(html)
            },
        })
    }
</script>